<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
	<!--<meta charset="utf-8">-->
	<!--<title>HOA :: About Us Section</title>-->

	<!--&lt;!&ndash; start with bootstrap &ndash;&gt;-->
	<!--<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">-->
	<!--<link rel="stylesheet" type="text/css" href="../static/css/flat-ui.css">-->
	<!--<link rel='stylesheet' href='../static/css/hoa/aboutus.css' media='screen' />-->
	<!--<link rel="shortcut icon" href="../static/images/small-logo.png" />-->
	<!--<link rel="canonical" href="http://www.inwebson.com/demo/blocksit-js/demo2/" />-->
	<!---->
<!--</head>-->


<!--<body>-->


	<!---->
<!--&lt;!&ndash; 	여기서부터 FOOTER &ndash;&gt;-->
	<!--<div class = "Humans_footer">-->
		<!--<div class = "Humans_footer_container">-->
			<!--<div class = "Footer_left">-->
				<!--<div class = "Footer_left">-->
					<!--<ul>-->
						<!--<li>HUMANS</li>-->
						<!--<li>AJOU </li>-->
						<!--<li>EPILOGUE</li>-->
						<!--<li>THUMBNAIL</li>-->
						<!--<li>ABOUT US</li>-->
					<!--</ul>-->
				<!--</div>-->
				<!--<div class ="Footer_right">-->
					<!--<p>이 사이트는 비 영리를 목적으로 만들어졌습니다.<br>사이트의 운영금은 후원금으로 운영되고 있습니다. <br>-->
					<!--후원을 하고 싶으시다면 <br>-->
					<!--477002-04-078058 국민 방성주-->
					<!--</p>-->
				<!--</div>-->
				<!---->
			<!--</div>-->
			<!--<div class ="Footer_right">-->
				<!--<p>If you want to subscribe our Website</p>-->
				<!---->
					<!--<div class ="Footer_left_half">-->
						<!--<input type="text" placeholder="Email" class="form-control" id="Humans_float_left"/>-->
					<!--</div>-->
					<!--<div class = "Footer_left_half">-->
						<!--<button class="btn btn-primary" id="Humans_float_left">-->
						  <!--Subscribe-->
						<!--</button>-->
					<!--</div>-->
			<!---->
				<!--<div class = "Icon_gather">-->
					<!--<div class = "Humans_icon"id="float_left" ></div>-->
					<!--<div class = "Humans_icon" id="float_left"></div>-->
					<!--<div class = "Humans_icon" id="float_left"></div>-->

				<!--</div>-->
				<!--<p>Copyright © 2014 HUMANSOFAJOU. All rights reserved.</p>-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->
	<!--&lt;!&ndash; javascript  &ndash;&gt;-->
	<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
	<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>-->
	<!--&lt;!&ndash; from this is Blocksit library &ndash;&gt;-->
	<!--&lt;!&ndash; start with flat_UI &ndash;&gt;-->
	<!--<script src="../static/js/jquery-ui.js"></script>-->
	<!--<script src="../static/js/style.js"></script>-->

	<!--<script src="../static/js/blocksit.min.js"></script>-->
	<!--<script src="../static/js/bootstrap.js"></script>-->

	<!--&lt;!&ndash;[if lt IE 9]>-->
<!--<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>-->
<!--<![endif]&ndash;&gt;-->



<!--</body>-->
<!--</html>-->