<!-- 	여기서부터 FOOTER -->
<div class="Humans_footer">
    <div class="Humans_footer_container">
        <div class="Footer_left">
            <div class="Footer_left">
                <ul>
                    <li>HUMANS</li>
                    <li>AJOU</li>
                    <li>EPILOGUE</li>
                    <li>THUMBNAIL</li>
                    <li>ABOUT US</li>
                </ul>
            </div>
            <div class="Footer_right">
                <p>이 사이트는 비 영리를 목적으로 만들어졌습니다.<br>사이트의 운영금은 후원금으로 운영되고 있습니다. <br>
                    후원을 하고 싶으시다면 <br>
                    477002-04-078058 국민 방성주
                </p>
            </div>

        </div>
        <div class="Footer_right">
            <p>If you want to subscribe our Website</p>

            <div class="Footer_left_half">
                <input type="text" placeholder="Email" class="form-control" id="Humans_float_left"/>
            </div>
            <div class="Footer_left_half">
                <button class="btn btn-primary" id="Humans_float_left">
                    Subscribe
                </button>
            </div>

            <div class="Icon_gather">
                <div class="Humans_icon" id="float_left"></div>
                <div class="Humans_icon" id="float_left"></div>
                <div class="Humans_icon" id="float_left"></div>

            </div>
            <p>Copyright © 2014 HUMANSOFAJOU. All rights reserved.</p>
        </div>
    </div>
</div>