<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>HOA :: Humans Section</title>
	<meta name="description" content="BlocksIt.js jQuery plugin Demonstration #2 Pinterest dynamic grid with CSS3 Transitions by inWebson.com"/>
	<meta name="keywords" content="demonstration,demo,jquery,blocksit.js,css3,dynamic,grid,layout,inwebson"/>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<!-- from this is Blocksit library -->
	<!-- start with flat_UI -->
	<script src="../static/js/jquery-ui.js"></script>
	<script src="../static/js/style.js"></script>

	<link rel='stylesheet' href='../static/css/question_detail_bsj.css' media='screen' />
		<!-- start with bootstrap -->
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
	<link href="../static/css/flat-ui.css" rel="stylesheet">

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<script src="../static/js/blocksit.min.js"></script>
<script src="../static/js/bootstrap.js"></script>

<!-- for fontawesome -->
<link rel="stylesheet" href="../static/css/font-awesome.min.css">
</head>
<body>
	<div class ="Humans_content_post">
		<div class = "Humans_container">
			<header>
				
				<div class = "Humans_header_background">
					<div class= "Humans_background_inner">
						<div class = "Humans_background_logo">		
							<h3>HUMANS OF AJOU </h3>
							<div class="Humans_Long_block"></div>
							<p style ="text-align:right">STORYS OF AJOU PEOPLE</p>

						</div>
					</div>				
				</div>
			</header>
		
			<div class = "Humans_transparent"></div>
			<div class ="Humans_detail_container">
				<div class ="Humans_question_title">
					<h3>살면서 가장 최고의 순간은 언제인가요 ?<h3>
					<h6 style="font-color: #dadada">When was the best moment in your life<h6>
				</div>
				<div class ="Humans_contents">
					<div class = "Humans_question_contents">
						<p>초등학교 계주대표를 한 적이 있는 데 , 마지막 주자였어요. 마지막 바톤을 이어받고 정신없이 뛰었는데, 내가 이긴 거 있죠.</p>
					</div>
					<div class ="Humans_border"></div>
				</div>
				<div class ="Humans_contents">
					<div class = "Humans_question_contents">
						<p>훈련소를 나오면서 집으로 돌아왔는데, 엄마가 들어오셨어요. 눈물이 흐르는데 너무 기쁜거에요.</p>
					</div>
					<div class ="Humans_border"></div>
				</div>

				<div class ="Humans_contents">
					<div class = "Humans_question_contents">
						<p>동생이 대학교 합격했을 때요. 공부 정말 지지리도 못했는데..</p>
					</div>
					<div class ="Humans_border"></div>
				</div>

			</div>

		</div>
	</div>
	
<!-- 	여기서부터 FOOTER -->
	<div class = "Humans_footer">
		<div class = "Humans_footer_container">
			<div class = "Footer_left">
				<div class = "Footer_left">
					<ul>
						<li>HUMANS</li>
						<li>AJOU </li>
						<li>EPILOGUE</li>
						<li>THUMBNAIL</li>
						<li>ABOUT US</li>
					</ul>
				</div>
				<div class ="Footer_right">
					<p>이 사이트는 비 영리를 목적으로 만들어졌습니다.<br>사이트의 운영금은 후원금으로 운영되고 있습니다. <br>
					후원을 하고 싶으시다면 <br>
					477002-04-078058 국민 방성주
					</p>
				</div>
				
			</div>
			<div class ="Footer_right">
				<p>If you want to subscribe our Website</p>
				
					<div class ="Footer_left_half">
						<input type="text" placeholder="Email" class="form-control" id="Humans_float_left"/>
					</div>
					<div class = "Footer_left_half">
						<button class="btn btn-primary" id="Humans_float_left">
						  Subscribe
						</button>
					</div>
			
				<div class = "Icon_gather">
					<div class = "Humans_icon"id="float_left" ></div>
					<div class = "Humans_icon" id="float_left"></div>
					<div class = "Humans_icon" id="float_left"></div>

				</div>
				<p>Copyright © 2014 HUMANSOFAJOU. All rights reserved.</p>
			</div>
		</div>
	</div>
</body>