/*여기부터 기존에 있던 라이브러리 css*/
@import url(http://api.mobilis.co.kr/webfonts/css/?fontface=NanumGothicWeb); 


body{
	margin:0;
	padding:0;
	color:#333;
	font-size:15px;
	font-family: 'NanumGothic', '나눔고딕','NanumGothicWeb', '맑은 고딕', 'Malgun Gothic', Dotum; 
}

body p{
    font-size: 13px;

}
header, section, footer, hgroup{
	display:block;
}

a i {
	color: black;
}
a i:hover{
	color: #D50F0F;
}

/*BACK GROUND IMAGE*/
.Humans-content-wrapper {
background: #FFF;
position: relative;
height: 100%;
left:0;
top:0;
margin: 0 auto;
padding: 80px 0px;
}
.Humans_header_background {
  position: absolute;
  left: 0;
  right:0;
  z-index: -1;
  
  display: block;
  background: url('../images/camera_human.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
  width: 100%;
  height: 100%;
  display: block;
}

.Humans_background_inner{
	position: absolute;
	width: 100%;
	height: 100%;
	margin:  auto;
	margin-top:447px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	color:white;
	display: table;
}
.Humans_Long_block{
	display:block;
	width:400px;
	display: block;
	height: 5px;
	margin-top: -10px;
	margin-bottom: -5px;
	background: none repeat scroll 0 0 white;
}
.Humans_background_logo{
	
	display: block;
	width:400px;
	height:200px;
	margin : auto;
}
.Humans_content_post {
width: 90%;
max-width: 1000px;
margin: 0 auto;
}


/* 여기서부터 컨텐츠 내용*/

.Humans_entry_post{
	text-align: center;
}
.Humans_title{
	text-align: left;
	margin-bottom: 0px;
	font-size: 35px;
	line-height: 44px;
	font-weight: 1000;

	
}
.Humans_detail_transparent{
	display: block;
	background: transparent;
	width:100%;
	height:800px;
	position : relative;
}
.Humans_content{
	margin: 30px;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	text-align: left;
}

/*여기서부터는 detail 내용*/
.Prev_detail{
	top : 500px;
	left : 50px;
	float: left;
	width: 100px;
	height: 100px;
	/*border: solid red;*/
	text-align: center;
	z-index: 10;

}


.Next_detail{
	top : 500px;
	right:50px;
	float: right;
	width: 100px;
	height: 100px;
	/*border: solid red;*/
	text-align: center;
	z-index: 10;
}

.humans_glyphicon{
	font-size: 30px;
	color: black;
}
.Detail_Container{
	margin : 0 auto;
	width: 50%;
	height: auto;
	/*border: solid;*/

	padding-top: 100px;
	padding-bottom: 53px;

}


.Humans_detail{
	/*border: solid;*/

}

.Humans_detail_img_area{

	/*border: solid;*/
	height: auto;

}

.Humans_detail_img{
	position: relative;
	max-width: 100%;
}

.Humans_detail_text1_area{
	
	/*border: solid;*/
	height: auto;
	font-size: 13px;
	padding: 25px 15px;


}
.Humans_border_thin{
	display: block;
	height: 2px;
	margin-top: 20px;
	margin-bottom: 30px;
	width: 100%;
	z-index: 99;
	background: none repeat scroll 0 0 #999999;

}
.Humans_detail_text2_area{
	
	/*border: 1px solid;*/
	height: auto;
	font-size: 12px;
	padding: 15px;
/*	background-color: rgba(100,100,100,0.8);*/
	color: black;


}
small{
	padding-left: 5px;
}
.Ask_this_month{
	font-size: 13px;
	text-align: center;
	font-weight: bold;
}

.Humans_detail_button_area{
/*	background-color: rgba(100,100,100,0.8);*/
	/*border: solid;*/
	height: 80px;

}

.btn-month-question{
	float: right;
	margin: 10px 20px;
	border-bottom: solid;

}

.Detail_img_modal{
	width: 100%;
}