/*여기부터 기존에 있던 라이브러리 css*/
@import url(http://api.mobilis.co.kr/webfonts/css/?fontface=NanumGothicWeb); 


body{
	margin:0;
	padding:0;
	color:#333;
	font-size:15px;
	font-family: 'NanumGothic', '나눔고딕','NanumGothicWeb', '맑은 고딕', 'Malgun Gothic', Dotum; 
}

body p{
    font-size: 13px;

}
header, section, footer, hgroup{
	display:block;
}
a {
	color:#35BFFF;
	text-decoration:none;
}
a:hover, a:active{
	color:#91DCFF;
}

/* Header */
#header{
	width:100%;
	background:#000;
	background:rgba(0, 0, 0, 0.8);
	padding:5px 0;
	letter-spacing:1px;
	margin-bottom:20px;
	position:fixed;
	top:0;
	left:0;
	z-index:99;
}
#header h1{
	padding:0 20px;
	margin:5px 0;
	text-shadow:2px 1px 1px #333, 2px 2px 1px #888;
	color:#EAEAEA;
	float:left;
	font-size:27px;
}
#backlinks{
	float:right;
	padding:0 20px;
	line-height:22px;
	font-weight:bold;
	font-size:13px;
}
#backlinks a{
	text-align:right;
	display:block;
}

/* Footer */
#footer{
	width:100%;
	position:fixed;
	padding-left:20px;
	bottom:0;
	left:0;
	line-height:20px;
	color:#888;
	font-size:13px;
	background:rgb(0, 0, 0);
	background:rgba(0, 0, 0, 0.8);
	z-index:99;
}
#footer span{
	display:block;
}

/* clearfix */
.clearfix {
	clear:both;
}

/* wrapper css */
#wrapper{
	margin-top:70px;
	width:100%;
}
#wrapper hgroup{
	text-align:center;
}
#wrapper h2{
	margin:5px 0;
	color:gray;

	font-size:33px;
	font-family:Arial Narrow, Arial, sans-serif;
}


#container{
	position:relative;
	width:1000px;
	margin-top:0;
	margin-right:auto;
	margin-left: auto;
	margin-bottom: 25px;
	padding-bottom: 10px;
	
}
.grid{
	width:188px;
	min-height:100px;
	padding: 5px;
	background:#fff;
/*	margin:-28px;*/	
	font-size:12px;
	float:left;
/*	box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	-moz-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	-webkit-box-shadow: 0 1px 3px rgba(34,25,25,15.4);
	
	-webkit-transition: top 1s ease, left 1s ease;
	-moz-transition: top 1s ease, left 1s ease;
	-o-transition: top 1s ease, left 1s ease;
	-ms-transition: top 1s ease, left 1s ease;*/
}

.grid strong {
	border-bottom:1px solid #ccc;
	margin:10px 0;
	display:block;
	padding:0 0 5px;
	font-size:17px;
}
.grid .meta{
	text-align:right;
	color:#777;
	font-style:italic;
}
.grid .imgholder img{
	min-width: 100%;
	max-width:100%;
	background:#ccc;
	display:block;
}
.grid_contents{
	margin-top: 10px;
}

@media screen and (max-width : 1240px) {
	body{
		overflow:auto;
	}
}
@media screen and (max-width : 900px) {
	#backlinks{
		float:none;
		clear:both;
	}
	#backlinks a{
		display:inline-block;
		padding-right:20px;
	}
	#wrapper{
		margin-top:90px;
	}
}
/*여기까지 기존에 있던 라이브러리 css*/
/* 실제 css 시작*/
/*HEADER START*/
/*BACK GROUND IMAGE*/
.Humans-content-wrapper {
background: #FFF;
position: relative;
height: 100%;
left:0;
top:0;
margin: 0 auto;
padding: 80px 0px;
}
.Humans_header_background {
  position: absolute;
  left: 0;
  right:0;
  z-index: -1;
  
  display: block;
  background: url('../images/camera_human.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
  width: 100%;
  height: 100%;
  display: block;
}

.Humans_background_inner{
	position: absolute;
	width: 100%;
	height: 100%;
	margin:  auto;
	margin-top:447px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	color:white;
	display: table;
}
.Humans_Long_block{
	display:block;
	width:400px;
	display: block;
	height: 5px;
	margin-top: -10px;
	margin-bottom: -5px;
	background: none repeat scroll 0 0 white;
}
.Humans_background_logo{
	
	display: block;
	width:400px;
	height:200px;
	margin : auto;
}
.Humans_content_post {
width: 90%;
max-width: 1000px;
margin: 0 auto;
}


/* 여기서부터 컨텐츠 내용*/
/*이 페이지는 about us page */

.Humans_entry_post{
	text-align: center;
}
.Humans_title{
	text-align: left;
	margin-bottom: 0px;
	font-size: 35px;
	line-height: 44px;
	font-weight: 1000;

	
}
.Humans_transparent{
	display: block;
	background: transparent;
	width:100%;
	height:800px;
	position : relative;
}
.Humans_content{
	margin: 30px;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	text-align: left;
}

.Humans_h6{
	font-size:17px;
	padding-top:10px;
	padding-bottom:40px;
}
/*여기까지가 배경이미지를 넣는 곳*/


#wrapper {
margin-top: 5px;
width: 100%;
}
.top-wrapper{
	padding-bottom:60px;
	height:130px;
	position:relative;
	margin-bottom: 50px;
}

/*THIS IS CATEGORY*/
.contents_category_bsj{
	margin-top:55px;
}
.radio{
	float: left;
	margin: 10px;
}
.dropdown{
	float: right;
	width: 150px;
}
.Humans_border{
display: block;
height: 2px;
margin-top: 20px;
margin-bottom: 30px;
width: 100%;
background: none repeat scroll 0 0 #999999;
}
.Humans_title_location{
	margin-top:50px;
	margin-bottom:10px;

}
/*여기서부터 Grid 에 관한 것.*/
.How_many_achieved{
	margin-top: 65px;
	height: 110px;
	text-align: left;
}
/*여기서부터 footer*/
.Humans_footer{
	margin-top: 100px;
	background-color: #374258;
	height: 300px;

}
.Footer_left{
	width: 45%;
	float:left;
}
.Footer_left h6 p{
	color: white;
	font-color:white;
}
.Footer_right {
	width: 55%;
	float:left;
}

.Humans_icon{
	height:30px;
	width: 30px;
	margin: 10px;
	background-color: white;
}
#float_left{
	float: left;
}
.Humans_footer_container{
	width: 90%;
	height: 80%;
	margin:auto;
	padding-top:50px;
}
.Footer_left_half{
	width: 50%;
	float: left;
}
.Icon_gather{
	width: 90%;
	height: 100px;
	float: center;
	margin-bottom:10px;
}

.Footer_left li {
	font-color: white;
	color:white;
}

.Footer_left p {
	font-color: white;
	color:white;
}
.Footer_right p {
	font-color: white;
	color:white;
}

/*footer 끝*/

